.appUISection{
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    position: relative;
}
.appUISection::before{
    content: "";
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -221px;
    width: 423px;
    height: calc(739px + 50px);
    background-image: url(../Images/Phone.png);
    background-repeat: no-repeat;
    user-select: none;
    z-index: -2;
}
.appUISection h1{
    font-size: 40px;
    font-weight: 400;
    color: #2a2833;
}
.appUISection h1 span{
    font-weight: 800;
}
.AppUI{
    width: 270px !important;
    user-select: none;
    margin: 140px 18px 0 0;
}
.slider div{
    text-align: center;
}
@media (min-width: 1200px) {
    .appUISection h1{
        font-size: 50px;
    }
    .appUISection::before{
        top: 100px;
    }
    .AppUI{
        margin-top: 100px;
    }
}