.plansSection{
    margin: 120px auto;
    text-align: center;
}
.plansSection h1{
    font-size: 28px;
    font-weight: 400;
    color: #2a2833;
}
.plansSection h1 span{
    font-weight: 800;
}
.plansSection ul{
    list-style: none;
    margin: 40px 0;
    justify-content: center;
}
.plansSection ul li{
    display: inline-block;
    margin: 0 20px;
    color: #74727a;
    font-size: 18px;
    font-weight: 400;
}
.On{
    color: #2a2833 !important;
}
.plansCon{
    display: grid;
    grid-template-columns: repeat(1 ,80%);
    grid-template-rows: repeat(1fr);
    grid-gap: 20px;
    justify-content: center !important;
}
@media (min-width:768px) {   
    .plansSection h1{
        font-size: 40px;
    }
}
@media (min-width:1200px) {   
    .plansCon{
        grid-template-columns: repeat(3 , minmax(250px, 1fr));
        grid-gap: 30px;
    }
}