.con{
    position: absolute;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 1000 !important;
}
.show{
    position: fixed;
    bottom: 30px;
    right: 0px;
    transition: all 0.5s ease;
    opacity: 1 !important;
}
.icon{
    background-image: linear-gradient(90deg,#ff4eb5 0,#ffa065 51%,#ff4eb5);
    background-size: 200% auto;
    border-radius: 50%;
    transition: all 0.3s ease-in;
    cursor: pointer;
    font-size: 20px;
    padding: 15px 18px;
    color: #ffff;
    z-index: 1200 !important;
}
.icon:hover{
    background-position: 100%;
}
@media (min-width:768px) {
    .con{
        bottom: 50px;
        right: 50px;
    }
    .show{
        bottom: 50px;
        right: 50px;
    }
}